
{% extends 'header.html' %}

{% block content %}
<!-- <form  method="POST" id="post-form" style="margin-left: 50px; margin-top: 100px;"> -->
<div class="main" style="margin-left: 50px; margin-top: 100px;">
{% csrf_token %}
	<span class="error" style="color: red;"></span>
	<div class="selBatch">
		<h3>select by :</h3>

		Year : <select name="year" class="year">
		  <option value="2015">2015</option>
		  <option value="2016">2016</option>
		  <option value="2017">2017</option>
		</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

		Semester : <select name="sem" class="sem">
		  <option value="1">1</option>
		  <option value="2">2</option>
		  <option value="3">3</option>
		  <option value="4">4</option>
		  <option value="5">5</option>
		  <option value="6">6</option>
		</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

		<button class="getDataSet btn btn-primary">getDataSet</button><br><br>

		<div class="selectsubterm" style="display: none;">
			subject : <select name="subject" class="subject">
				<option value="all">all</option>	
			</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

			view for : <select name="term" class="term">
				<option value="internal1">1st internal</option>
				<option value="internal2">2nd internal</option>
				<option value="internal3">3rd internal</option>
				<option value="component">component</option>
				<option value="total">total for 50</option>
				<option value="external">external</option>
				<option value="final">final</option>
			</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</div>
	</div><br><br>
	
	<div class="ajaxbuttons" style="display: none;">
	
		<button class="wholegraph btn btn-primary">show graph</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
		<button class="viewstats btn btn-primary">view stats</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
		<button class="viewtoppers btn btn-primary">view toppers</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button class="selectstuds btn btn-primary">select students</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
		<br><br>
		<div class="container">
			
			

		</div>

		<div class="dialog">
			
		</div>
</div>	
<!-- </form> -->
{% endblock %}



















